
.borde {
  background: #8cb27c;
height: auto;
width: 760px;
float: left;
position: relative;
}
#campo{
  background: #8cb27c;
  height: 380px;
  margin: 15px;
  border: 5px solid white;
  box-sizing: border-box;
}

.arco1{
  height: 145px;
   width: 83px;
   margin: 115px -5px;
   border: 5px solid white;
   position: absolute;
}
.circulo{
  height: 145px;
  width: 145px;
  margin: 115px 275px;
  border: 5px solid white;
  border-radius: 100px;
  position: absolute;

}

.arco2{
  height: 145px;
  width: 83px;
  margin: 115px 0px 0px 632px;
  border: 5px solid white;
  position: absolute;
}
.one {
    width: 20px;
    margin: 120px 63px ;
    position: absolute;
}

.two {
    width: 20px;
    margin: 84px 355px ;
    position: absolute;
}

.three {
    width: 20px;
    margin: 240px 604px ;
    position: absolute;
}
